.world {

	color:rgb(255, 255, 255);
	background:rgb(212, 41, 41);
}
.lopata {
	color: rgb(255, 255, 255);
	background:rgb(212, 41, 41);
}
.note {
	color:rgb(255, 255, 255);
	background:rgb(212, 41, 41);
	padding: 10px;
	border-radius: 8px;
}
.body{
	background-color:rgb(212, 41, 41);
	color:rgb(255, 255, 255);
}
.lololo{
	background-color:rgb(212, 41, 41);
	color:rgb(255, 255, 255);
}
.kkeew{
	background-color:rgb(212, 41, 41);
	color:rgb(255, 255, 255);
}